#root
{
    height:100%;
    width:100%;
}
body{
    height:100%;
    width:100%
}
html{
    height:100%;
    width:100%;
}
header
{
    height : 15%;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;   
    align-items: center;
}
aside{
    border-style:solid;
    border-color: black;
    height:85%;
    width:20%;
}
.sidebar_listname{
    margin:5px;
    height:50px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color: gold;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
.sidebar_listname:hover
{
    background-color: lawngreen;
}
#title
{
    margin:0%;
    font-size: 50px;
}